%h1 Tasks#show

.nav.justify-content-end
  = link_to(t('helpers.list'), tasks_path, class: 'nav-link')

= render(partial: 'shared/task_detail', locals: { task: @task } )

= link_to(t('helpers.edit.button'), edit_task_path, class: 'btn btn-primary mr-3')
= link_to(t('helpers.delete.button'), @task, method: :delete,
  data: { confirm: t('helpers.delete.confirm', name: @task.name) } ,class: 'btn btn-danger')
