%h1= t(".header", user: @user.login_id)

.nav.justify-content-end
  = link_to(t('helpers.list'), admin_user_tasks_path(@user.id), class: 'nav-link')

= render(partial: 'shared/task_detail', locals: { task: @task } )
